@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,500;1,600&family=Nunito:wght@700&family=Oswald:wght@500;700&display=swap');

/* GRUPO TEXTO */
    body{
        /* font-family: 'Courier News', 'Times New Grego',serif; */
        font-family: 'Oswald', sans-serif;
    }
    
    /* SELETOR ID - UTILIZAMOS # + o nome do seletor Ex: #seletor */
    #topo{
        font-family: 'Asap', sans-serif;        
    }

    #topo h1{
        
        text-align: center;
        text-shadow: red 2px 2px 2px;
        text-transform: capitalize;
    }

    /* SELETOR CLASS - UTILIZAMOS . + o nome do seletor Ex: .quadrado */

    .txt-css{
        color: red;
        font-family: 'Nunito', sans-serif;
        font-style: italic;
        text-decoration: overline;
    }

    #topo p span{
        font-size: 2em;
    }

/* GRUPO TEXTO */

/*
font-family: 'Asap', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
*/

/* GRUPO CORES + PSEUDO CLASSES*/
    a{
        text-decoration: none;
        color: #ed1458;
        
        /* color: red;
        color: #00ff0033;
        color: rgba(19, 90, 223, 0.295); */
        transition: color 1s , font-size 2s;

    }

    a:hover{
        color: #0000ff;
        border: solid #ff0000 2px;
        font-size: 2em;
    }
/* GRUPO CORES */



/* COMENTÁRIO EM CSS */
/* 
h1{
    color: blue;
    text-align: center;
    background-color: brown;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 600;
    text-shadow: yellow 2px 2px;
    letter-spacing: 2px;
    opacity: 0.8;
}

 */